body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-image: url('City.jpg');
    background-size: cover;
    background-position: center;
}
.container{
    background-color: rgba(0,2,14,0.5);
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: #e3fefb 0px 4px 12px;
    border-radius: 4px;
    font: 500 1rem 'Quicksand' , sans-serif;
}
#title{
    color: #e3fefb;
    margin-bottom: 2rem;
    text-align: center;
}
.combination{
    text-align: center;
    margin-bottom: 1rem;
}
.combination-error{
    color: rgb(255, 92, 92);
    background-color: rgba(227,254,251,0.09);
    border-radius: 4px;
}
.combination-success{
    color: rgb(44, 97, 44);
}
.form_hidden{
    display: none;
}
.login_form-group{
    margin-bottom: 1rem;
}
.login_form-input, .signUp_form-input, .passwordReset_form-input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
    background-color: white;
    border: none;
}
.login_form-input:focus, .signUp_form-input:focus, .passwordReset_form-input:focus{ 
    box-shadow:  #a1ebe2  0px 5px 15px;
}
.login_form > *:first-child{
    margin-top: 0;
}
.login_form > *:last-child{
    margin-bottom: 0;
}
.login_form-input-error, .button-error{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: rgb(255, 92, 92);
    background-color: rgba(227,254,251,0.09);
    border-radius: 4px;
}
.login_form-button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #bef4fc;
    color: rgb(2,4,27);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.login_form-button:hover{
    background-color: #feffff;
}
.login_form-button:active{
    transform: scale(0.98);
}
.login_form-text{
    text-align: center;
}
.login_form-text .link{
    color: #06ecfc;
    text-decoration: none;
    cursor: pointer;
}
.login_form-text .link:hover{
    text-decoration: underline;
}
.login_form-text .link:active{
    color: firebrick;
}